
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #2D3047;
  --secondary-color: #3A553A ;
  --accent1-color: #D3F1F8;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Courier+Prime";
  --paragraph-font: "Montserrat", Helvetica, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #2D3047;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    border-left: #2D3047 2px solid;
    border-top: #2D3047 2px solid;
    border-right: #2D3047 2px solid;
}
header a {
    text-align: center;
    color: #D3F1F8;
    background-color: #2D3047;
    text-decoration: none;
    padding: 20px;
    align-self: center;
    padding: 13%;
}
header a:hover{
    background-color: white;
    color: #2D3047;
    border-left: #2D3047 2px solid;
}
header img{
    width: 100%;
    background-color: #2D3047;
    height: 100%;
}
body{
    background-color: #3A553A;
}
#eyecatcher{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-left: #2D3047 2px solid;
    border-right: #2D3047 2px solid;
    border-top: #2D3047 2px solid;
}
.parallax {
    /* The image used */
    background-image: url("/wdd130/milknhoney/images/home_page_with_snow.jpg");
    background-color: #2D3047;
  
    /* Set a specific height */
    min-height: 800px;

    /* size and place correction */
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    /* borders */
    border-left: #2D3047 2px solid;
    border-right: #2D3047 2px solid;
    border-top: #2D3047 2px solid;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.cows{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-left: #2D3047 2px solid;
    border-right: #2D3047 2px solid;
    border-bottom: #2D3047 2px solid;
}
.cows img{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    border: #3A553A 2px solid;
}
.cows img:nth-of-type(2){
    margin-right: 20%;
}
.cows img:nth-of-type(1){
    margin-left: 20%;
}
.home_txt{
    display: block;
    height: 40%;
    width: 60%;
    background-color: #2D3047;
    color: #D3F1F8;
    border:#3A553A 2px solid;

    z-index: 0;
    align-self: left;
    text-align: center;
    font-size: 800%;
    justify-content: center;
    align-content: center;
}
.home_txt:nth-of-type(2){
    justify-self: right;
    margin-right: -10%;
}
.home_txt:nth-of-type(1){
    margin-left: -10%;
}
.home_p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-left: #2D3047 2px solid;
    border-right: #2D3047 2px solid;
    border-top: #2D3047 2px solid;
    margin-bottom: -2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.home_p p:nth-of-type(1){
    padding: 10%;
    font-size: x-large;
}
.on_farm{
    line-height: .9cm;
    padding: 10%;
    font-size: .8cm;
    border-left: 2px solid #2D3047;
    height: 150px;
}
.on_farm h3{
    line-height: 0;
    padding-bottom: 0;
}
i{
    color: #3B5E3F;
    font-style: normal;
    font-weight:bold;
}
.on_farm lu{
    padding-left: 5%;
    align-self: center;
}
.on_farm lu .material-symbols-outlined{
    align-items: center;
}
footer{
    text-align: center;
    color: #D3F1F8;
    font-size: 2em;
    height: 25px;
}
.meet_the_milkers{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(22, 120px);

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: #2D3047 2px solid;
}
.meet_the_milkers img{
    width: 110%;
    border: #3A553A 2px solid;
    box-sizing: border-box;
}
.meet_the_milkers h3{
    grid-column: 1/-1;
    grid-row: 1/3;
    text-align: center;
    font-size: 5em;
    line-height: 0;
    margin-top: 5%;
    color: #3B5E3F;
}
.meet_the_milkers p{
    border: #3A553A 2px solid;
    background-color: #2D3047;
   color: #D3F1F8;
    font-size: 1.7em;
    /* width: 120%; */
}
.meet_the_milkers img:nth-of-type(1){
    grid-row: 3/6;
    grid-column: 3/6;
    margin-left: -10%;
}
.meet_the_milkers p:nth-of-type(1){
    grid-row: 4/6;
    grid-column: 6/9;
    margin-top: -10%;
    margin-bottom: 10%;
    margin-left: -10%;
    padding: 15px;
}
.meet_the_milkers img:nth-of-type(2){
    grid-row: 7/10;
    grid-column: 6/9;
    justify-self: right;
}
.meet_the_milkers p:nth-of-type(2){
    grid-row: 8/10;
    grid-column: 3/6;
    margin-top: -10%;
    margin-left: -10%;
    margin-bottom: 17%;
    z-index: 0;
    padding: 15px;
}
.third{
    grid-row: 11/14;
    grid-column: 3/6;
    margin-left: -10%;
} 
.meet_the_milkers p:nth-of-type(3){
    grid-row: 12/13;
    grid-column: 6/9;
    margin-top: -10%;
    margin-bottom: 0;
    margin-left: -10%;
    padding: 15px;
}
.meet_the_milkers img:nth-of-type(4){
    grid-row: 15/18;
    grid-column: 6/9;
    justify-self: right;
}
.meet_the_milkers p:nth-of-type(4){
    grid-row: 16/18;
    grid-column: 3/6;
    margin-top: -10%;
    margin-left: -10%;
    margin-bottom: 17%;
    z-index: 0;
    padding: 15px;
}
.meet_the_milkers img:nth-of-type(5){
    grid-row: 19/22;
    grid-column: 3/6;
    margin-left: -10%;
}
.meet_the_milkers p:nth-of-type(5){
    grid-row: 20/21;
    grid-column: 5/9;
    margin-top: -1%;
    margin-left: 10%;
    padding: 15px;
}
main{
    color: #2D3047;
}
.meet_the_milk{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 120px);


    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: #2D3047 2px solid;
}
.meet_the_milk img{
    width: 110%;
    border: #3A553A 2px solid;
    box-sizing: border-box;
}
.meet_the_milk h3{
    grid-column: 1/-1;
    grid-row: 1/3;
    text-align: center;
    font-size: 5em;
    line-height: 0;
    margin-top: 5%;
    color: #3B5E3F;
}
.meet_the_milk p{
    border: #3A553A 2px solid;
    background-color: #2D3047;
   color: #D3F1F8;
    font-size: 1.7em;
    /* width: 120%; */
}
.meet_the_milk img:nth-of-type(1){
    grid-row: 3/6;
    grid-column: 3/6;
    margin-left: -10%;
}
.meet_the_milk p:nth-of-type(1){
    grid-row: 4/6;
    grid-column: 6/9;
    margin-top: -10%;
    margin-bottom: 10%;
    margin-left: -10%;
    padding: 15px;
}
.meet_the_milk img:nth-of-type(2){
    grid-row: 7/10;
    grid-column: 6/9;
    justify-self: right;
}
.meet_the_milk p:nth-of-type(2){
    grid-row: 8/10;
    grid-column: 3/6;
    margin-top: -10%;
    margin-left: -10%;
    margin-bottom: 17%;
    z-index: 0;
    padding: 15px;
}
.long{
    height: 100%;
}
.bottom_hero{
    grid-column: 2/9;
    grid-row: 11;
}
h6{
    grid-column: 3/9;
    grid-row: 17;
    height: 120%;
    font-size: x-large;
   color: #D3F1F8;
    background-color: #2D3047;
    border: #3A553A 2px solid;
    padding: 15px;
}
h5{
    grid-column: 2/10;
    grid-row: 20;
    height: 60px;
    font-size: x-large;
    color: #2D3047;
    border: #2D3047 2px solid;
    padding: 15px;
    margin-top: 0;
}